<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>splash0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>splash0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>splash0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>splash.png</string>
            <key>size</key>
            <string>{1920,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecaeebfbf975cb922a5bd2359ba103da$</string>
            <key>textureFileName</key>
            <string>splash.png</string>
        </dict>
    </dict>
</plist>
